body {
    padding: 1em;
}

.wrapper {
    display: grid;
    grid: repeat(10, 60px) / auto-flow 60px;
}

.wrapper>div {
    background-color: rgb(230, 230, 230);
    width: 50px;
    height: 50px;
}

.wrapper>div.selected {
    box-shadow: 0px 0px 10px rgb(200, 206, 255);
}

.unitInfo {
    border: 1px solid rgb(229, 231, 247);
    border-radius: 5px;
    padding: 1em;
}

.unitInfo h4 {
    padding: 0;
    margin: 0.5em 0 0 0;
}

#mapAndInfo {
    display: flex;
}